<div th:fragment="header" class="header">
    <div>
        <nav class="style-1">
            <a class="btn" href="/admin">Админы</a>
            <a class="btn" href="/day">Дни недели</a>
            <a class="btn" href="/pair">Время пары</a>
            <a class="btn" href="/grouup">Группы</a>
            <a class="btn" href="/lessons">Предметы</a>
            <a class="btn" href="/room">Аудитории</a>
            <a class="btn" href="/timetablee">Рассписание</a>
            <a class="btn" href="/students">Студенты</a>
            <a class="btn" href="/list">Списки</a>
            <a class="btn" href="/logout">Выйти из учётки</a>
        </nav>
        <br><br>
    </div>
</div>